<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>toggle switches</title>
	<link rel="stylesheet" type="text/css" href="page_layout.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="toggleSwitchController.js"></script>
</head>
<body>
	<span>All members have free overdraft protection that automatically transfers available funds from your Primary Savings Account (0000) to your Debit Card in the event an account overdraft occurs.</span>
	<br>
	<div style="position:relative; width: 100%; bottom: 0px; height: 20px; left: 0px;" ng-app="ToggleSwitchApp" ng-controller="ToggleSwitchController">
		<br>
		<div style="position: relative; width: 100%; overflow: auto; left: 0px;">
			<div style="position: relative; width: 100%; top: 0px; left: 0px;">
				<table border="0" width="100%">
					<tr ng-repeat="record in overdraftProtectionData">
						<td class="field1">{{record.memberId}}</td>
						<td class="field2">{{record.accountId}}</td>
						<td class="field3">
							<b>Debit Transactions</b>
						</td>
						<td class="field4">
							<div style="display: table; vertical-align: middle">
								<label class="switch">
									<input class="switch-input" type="checkbox" ng-model="record.ODT_Opt_In_Status_flag" ng-checked="{{record.ODT_Opt_In_Status_flag}}" id="ODT_Opt_In_Status_flag_{{$index}}" />
									<span class="switch-label" data-on="On" data-off="Off"></span><span class="switch-handle"></span>
								</label>
							</div>
						</td>
						<td class="field5">
							<b>ATM Withdrawals</b>
						</td>
						<td>
							<div style="display: table; vertical-align: middle">
								<label class="switch">
									<input class="switch-input" type="checkbox" ng-model="record.Request_Method_flag" ng-checked="record.Request_Method_flag" id="Request_Method_flag_{{$index}}" />
									<span class="switch-label" data-on="On" data-off="Off"></span><span class="switch-handle"></span>
								</label>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div style="position:relative; width: 100%; bottom: 0px; height: 20px; left: 0px;">
			<br>
			<button ng-click="buttonClick()" >Is the second account Debit Transactions flag enabled?</button>
		</div>
	</div>
</body>
</html>
